<% layout('layouts/boilerplate')%>
<div id="mapOverview" style="width: 100%; height: 500px;"></div>
<h1>All Available Bars</h1>
<div>
  <a class="btn btn-success mb-3" href="/bars/new">Add a new listing</a>
</div>
<%for(let bar of bars) {%>
<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <a href="/bars/<%=bar._id%>">
        <% if(bar.images.length) {%> 
        <% if(bar.images[0].url != '') {%> 
        <img
          class="img-thumbnail"
          alt="<%=bar.name%> image"
          src= "<%=bar.images[0].url%>"
        />
        <% }else {%>
        <img src="https://thumbs.dreamstime.com/b/no-image-available-icon-photo-camera-flat-vector-illustration-132483141.jpg" alt="" class="img-thumbnail"> 
        <% }} else{ %> 
            <img src="https://thumbs.dreamstime.com/b/no-image-available-icon-photo-camera-flat-vector-illustration-132483141.jpg" alt="" class="img-thumbnail"> 
            <% } %> 
      </a>
    </div>
    <div class="col-md-8">
      <h5 class="card-title"><%=bar.name%></h5>
      <p class="card-text text-muted">
        <%if(bar.is_closed === true){%> Bar is Closed for good. <%} else{%> Bar
        is Open for Business! <%}%>
      </p>
      <p class="card-text"><b>Address: </b><%=bar.location.display_address%></p>
      <p class="card-text"><b>Rating: </b><%=bar.rating%>/5</p>
      <a href="/bars/<%=bar._id%>" class="btn btn-danger">View <%=bar.name%></a>
      <p class="card-text">
        <small class="text-muted">Tel: <%=bar.display_phone%></small>
      </p>
    </div>
  </div>
</div>
<% }%>

<script>
  const bars = {features: <%-JSON.stringify(bars)%>};
</script>

<script src="/js/clusterMap.js"></script>
